*.[oa]
*.Po
*.exe
*.in
*.so
*.sw?
*.class
.dirstamp
Makefile
a.out
aclocal.m4
autom4te.cache/
confdefs.h
config.log
config.status
config.sub
configure
openitg
src/.deps/
src/Makefile
src/archutils/Unix/verinc
src/config.h
stamp-h1
version.h
version.txt
assets/utilities/itg2-util/src/.deps/
assets/utilities/itg2-util/src/itg2ac-util
src/libresample/src/config.h
src/verinfo.h
src/libresample/tests/testresample
run
build/artifacts/

# Visual Studio build artefacts
*.obj
build-vs2008
build-vs2010
ipch
*.user
Debug
Release
Release-SSE2
*.sdf
*.suo
*.pdb
*.vscode
*.VC.db
*.opensdf
*.VC.VC.opendb
*.vdi

# Windows build artefacts
src/verstub.cpp
src/version.bin
Program/swscale-4.dll
Program/swresample-2.dll
Program/avutil-55.dll
Program/avformat-57.dll
Program/avfilter-6.dll
Program/avdevice-57.dll
Program/avcodec-57.dll
src/.vs/StepMania-net2010/FileContentIndex/31f118c3-54ef-40b5-beb9-403b7e90269c.vsidx
src/.vs/StepMania-net2010/v17/Browse.VC.db-shm
src/.vs/StepMania-net2010/v17/Browse.VC.db-wal
src/.vs/StepMania-net2010/v17/Browse.VC.opendb
src/.vs/StepMania-net2010/v17/DocumentLayout.json
src/.vs/StepMania-net2010/v17/Solution.VC.db-shm
src/.vs/StepMania-net2010/v17/Solution.VC.db-wal
src/lua-5.0/lib/LibLua.lib
src/lua-5.0/lib/LibLuaLib.lib
src/verinfo.h
src/lua-5.0/lib/LibLua.lib
src/lua-5.0/lib/LibLuaLib.lib
src/verinfo.h
src/verinfo.h
